
.padding {
  padding: 32px;
}

.Trad label {
  color: rgba(223, 83, 83, 1);
}

.Sport label {
  color: rgb(62, 149, 231);
}

.Send label {
  color: rgb(124,181,236);
}

.TR label {
  color: #f7a35c;
}

.Attempt label {
  color: rgb(144,237,125);
}